apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-mzljrgbe
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-mzljrgbe:ffd21c6a0889c1d7b118bc0a4a355a43c123dc0d@sha256:41baabb5ec3fc9253b25a19803fdbfc72bb996b1f797e785b18989b1a21d0940
          name: container-image
